.selected-adaptation-wrapper {
  background-image: url(../../Assets/Images/background-image.jpg);
  padding-top: 50px;

  .selected-adaptation-inner {
    max-width: 1340px;
    margin: 0 auto;
    color: white;

    .selected-adaptation-info {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;

      .selected-adaptation-poster {
        max-width: 305px;
        max-height: 450px;

        img {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          width: 100%;
          height: 100%;
        }
      }

      &-text {
        padding: 10px 20px 10px 30px;

        .selected-adaptation-name {
          font-size: 36px;
          font-family: "RobotoSerif-600";
          margin-bottom: 10px;
        }

        .selected-adaptation-type {
          font-family: "RobotoSerif-600";
          font-size: 18px;
          margin-bottom: 15px;
        }

        .selected-adaptation-section {
          display: flex;
          margin-bottom: 15px;
          font-size: 18px;
          font-family: "RobotoSerif-600";

          a {
            margin-left: 10px;
            color: white;
          }
        }
      }

      button {
        padding: 10px;
        border: none;
        font-size: 16px;
        font-family: "RobotoSerif-500";
        width: 226px;
      }

      .selected-adaptations-profile-button {
        padding: 10px;
        border: none;
        border-radius: 10px;
      }

      .selected-adaptation-profile-button-active {
        border-bottom: 1px solid grey;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: none;
        border-bottom-right-radius: none;
      }

      .selected-adaptations-profile-button-visible {
        border-bottom: 1px solid grey;
        border-radius: none;

        &:last-child {
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }

      .selected-adaptation-cast {
        padding: 10px 20px 10px 30px;

        .selected-adaptation-cast-title {
          margin-left: 10px;
          font-size: 24px;
          font-family: "RobotoSerif-600";
          margin-bottom: 15px;
        }
        .selected-adaptation-cast-names {
          margin-bottom: 10px;
          font-size: 18px;
          font-family: "RobotoSerif-500";
        }
      }
    }

    .selected-adaptation-description {
      font-size: 18px;
      font-family: "RobotoSerif-500";
      margin-bottom: 40px;
    }

    .selected-adaptation-images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 40px;

      .selected-adaptation-image {
        width: 400px;
        height: 200px;

        img {
          border-radius: 10px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
