.header-nav-menu {
  margin: 0;
  padding: 0;
  display: flex;

  &-link {
    text-decoration: none;
    margin-right: 20px;
    align-self: center;

    .header-nav-menu-item {
      list-style: none;
      color: white;
      font-family: "RobotoSerif-400";
      font-size: 18px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: #ef5962;
      }
    }
  }
}
