* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "RobotoSerif-400";
  src: url(./Assets/Fonts/RobotoSerif-Regular.ttf);
}

@font-face {
  font-family: "RobotoSerif-500";
  src: url(./Assets/Fonts/RobotoSerif-Medium.ttf);
}

@font-face {
  font-family: "RobotoSerif-600";
  src: url(./Assets/Fonts/RobotoSerif-SemiBold.ttf);
}

@font-face {
  font-family: "RobotoSerif-700";
  src: url(./Assets/Fonts/RobotoSerif-Bold.ttf);
}

@font-face {
  font-family: "RobotoSerif-800";
  src: url(./Assets/Fonts/RobotoSerif-ExtraBold.ttf);
}
